
body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 4vw;
}

.container-fluid {
    margin-top: 0;
    background-image: url('../images/bgwide.jpg');
    background-position: center;
    background-size: cover;
    height: 1080px;
}

nav.navbar {
    background: linear-gradient(#5b584f, #3f3e39);
    width: 100%;
    color: white;
    position: fixed;
    z-index: 1;
}

.logo {
    width: auto;
    height: 1em;
    transform: translateY(-7%);
}

.btn-success {
    background: #3d8422;
}

.row.slides{
    height: 680px;
}

.row.features {
    height: 400px;
    width: 80%;
    margin: 0 auto;
}

.row.features .feature-col {
    text-align: center;
}

.feature-img {
    height: 130px;
    margin: 6px 12px;
    margin-top: 50px;
}

.row.media {
    height: 400px;
}

.row.features h2 {
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: 0.3em;
    padding: 3em;
}

.row.partners {
    text-align: center;
    height: 400px;
    background-image: url("../images/ubuntu-stripe-bg.png");
}

img.media-icon {
    width: 40px;
}

.slide-content {
    margin: 2vh 68px;
}

.slide-content img {
    width: 100px;
    float: left;
    display: inline-block;
    border-radius: 50%;
    margin-right: 36px;
}
  
.slide-content p {
    text-align: justify;
    font-size: 0.7em;
    line-height: 1.6;
  }
  
.review-author {
    float: right;
    font-style: italic;
    bottom: 12px;
  }
  
.review-author::before {
    content: "-";
    margin-right: 10px;
  }
  
.carousel.slide {
    z-index: 0;
    margin-top: 10vh;
    
  }
  
  .slide {
    height: 80%;
  }
  
  .carousel-inner {
    height: 100%;
  }
  
  .slide-content {
    margin: 0 45px;
    margin-top: 40px;
    text-align: left;
  }
  
  .carousel-control-next, .carousel-control-prev {
    width: 4%;
  }

@media only screen and (max-width: 575px) {
    
    .brand-name {
        display: none;
    }

    .navbar-brand .logo {
        height: 1.8em;
        transform: none;
    }

    .slide-content {
        font-size: 1.5em;
        margin: 4vh 32px;
    }
}