html, body {
  padding: 0;
  margin: 0;
}

ul {
  margin: 0;
  list-style-type: none;
}

li {
  display: inline-block;
  background-color: white;
  padding: 0 8px;
  cursor: context-menu;
}

.navbar {
  background-color: red;
  height: 40px;
  line-height: 40px;
}