{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Posts - {% block title %}{% endblock title %}</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Anton|Pinyon+Script|Poiret+One&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/d716e43087.js"></script>
  {% block head %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  {% endblock head %}
</head>
<body>
  {% block content %}
    <p id="greeting">Hello, {{ user }}!</p>
    <a href="{% url 'socialboard:logout' %}"><div class="butn" id="logout">Log Out</div></a>
    <h1 id="main-title">billboard</h1>
    <br/>
    <!-- {% if user.is_authenticated %} -->
    
    <div id="posts-container">
      {% for post in posts %}
      <div class="post">
          <span class="date">{{ post.publish_date.day|stringformat:"02d" }}/{{ post.publish_date.month|stringformat:"02d" }}/{{ post.publish_date.year }}</span>
          <div class="post-contents">
            <h2 class="title">{{ post.title }}</h2>
            <p class="content">{{ post.content }}</p>
            <div class="author">{{ post.author }}</div>
          </div>
        </div>
      {% endfor %}
  <!-- {% else %}
    <a href="{% url 'socialboard:login' %}">Log In</a>
  {% endif %} -->
    <div id="add-post-container">
      <div id="add-button"><i class="fas fa-plus"></i></div>
    </div>
  </div>
  {% endblock content %}
</body>
</html>