.container {
  display: flex;
  width: 400px;
  margin: 20px 0;
  border: 1px solid gray;
}

div div.box1 {
  flex-grow: 1;
  height: 100px;
  background: blue;
  margin: 5px;
}

div div.box2 {
  flex-grow: 2;
  height: 100px;
  background: blue;
  margin: 5px;
}