* {
  margin: 0;
  padding: 0;
}

body {
  height: 300px;
  display: flex;
  flex-direction: column;
}

a {
  margin: 0 4px;
}

.first {
  flex-grow: 1.5;
  background: rgb(110, 78, 255);
}

.second {
  flex-grow: 1;
  background: white;
}

.third {
  flex-grow: 1.5;
  background: green;
}

.links {
  display: inherit;
  flex-direction: row;
}