* {
  margin: 0;
  padding: 0;
}

body {
  height: 300px;
  display: flex;
  flex-direction: column;
}

a {
  margin: 0 4px;
}

.first {
  flex-grow: 1.5;
  background: rgb(255, 0, 157);
}

.second {
  flex-grow: 1;
  background: purple;
}

.third {
  flex-grow: 1.5;
  background: darkblue;
}

.links {
  display: inherit;
  flex-direction: row;
}