body {
  text-align: center;
}

.header {
  background-image: url(../img/quiz_banner.png);
  height: 400px;
  width: 100.8%;
  background-size: cover;
  background-position: center;
}

.header-btm-stripe {
  height: 90px;
  background-color: green;
}

.header h1 {
  line-height: 250px;
  color: #f3f3f3;
}

.char-avatar-container {
  height: 120px;
  widht: 120px;
  border-radius: 50%;
  display: inline;
  float: left;
  margin: 20px;
  background-color: rgb(0, 204, 0);
}

.char-avatar {
  position: relative;
  height: 120px;
  border-radius: 50%;
  display: inline;
  float: left;
}

.left-ava.char-avatar:hover {
  top: 5px;
  left: 5px;
}

.right-ava {
  float: right;
}

.right-ava.char-avatar:hover {
  top: 5px;
  right: 5px;
}

.carousel-item {
  background-color: #d6d1c8;
  height: 400px;
}

.navigation {
  /* margin-top: 140px; */
  /* width: 300px; */
  background-color: grey;
}

