.container {
  display: flex;
  margin: 20px 0;
  border: 1px solid gray;
}

.center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

div div {
  height: 100px;
  width: 100px;
  background: blue;
  margin: 5px;
}