html, body {
  margin: 0;
  padding: 0;
  font-family: arial;
}

body {
  background-color: #8298b0;
}

.header {
  background-color: #020181;
  margin: 7px;
  text-align: center;
}

.header h1 {
  color: #f6fdfe;
}

#canvas {
  border: 2px solid #7f7f7f;
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

#color-palette {
  height: 300px;
  width: 100px;
  /* border: 2px dotted purple; */
  background-color: #bfbfbf;
}

#color-indicator {
  font-size: 18px;
  color: #7f7f7f;
  margin: 3px;
}

#brush {
  height: 40px;
  width: 40px;
  margin: 15px auto;
  margin-top: 7px;
  border: 1px white solid;
}

.color-in-palette {
  display: inline-block;
  font-size: 0;
  margin: 2.5px 4px;
  height: 40px;
  width: 40px;
  border: 1px solid lightgrey;
}

.dot {
  position: absolute;
  padding: 0;
  margin: 0;
  height: 3px;
  width: 3px;
  background-color: aquamarine;
}