html {
  margin: 0;
  padding: 0;
}

body {
  margin: 22px 16px;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, p {
  margin: 0;
}

input, textarea {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

#greeting {
  font-size: 14px;
}

.butn {
  display: inline-block;
  padding:12px 18px;
  background-image: linear-gradient(#fff, #ddd);
  border: 2px solid #126ba3;
  border-radius: 25px;
  font-size: 12px;
  color: #126ba3;
}

.butn:hover {
  background-image: linear-gradient(#ccc, #fff);
  color: black;
}

.butn#logout {
  position: absolute;
  top: 4px;
  right: 4px;
}

#posts-container {
  margin: 0 45px;
}

#main-title {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Anton', sans-serif;
  font-size: 40px;
  margin-top: 40px;
}

.post {
  position: relative;
  border: solid 3px #00b7ef;
  font-size: 16px;
  color: #c1bfc0;
  margin: 15px auto;
  max-width: 800px;
}

.date {
  font-family: 'Poiret One', cursive;
  color: black;
  padding: 0 8px;
  background-color: #fff;
  display: inline-block;
  position: absolute;
  top: -12px;
  left: 15px;
}

.post-contents {
  padding: 35px 25px;
}

.post-contents i {
  float: right;
  color: red;
  font-size: 22px;
}

.post-contents i:hover {
  color: crimson;
}

.title {
  font-family: 'Anton', sans-serif;
  font-size: 30px;
  color: #00b7ef;
  font-weight: lighter;
  margin-bottom: 10px;
}

/* .content {
  
} */

.author {
  font-family: 'Pinyon Script', cursive;
  font-size: 24px;
  color: black;
  float: right;
}

.new-post-form {
  border: 3px dashed #00b7ef;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  height: 220px;
  opacity: 1;
  transition: height 0.7s ease-out 0.3s, opacity 0.7s ease-out 0.3s;
}

#form-container {
  padding: 42px 35px 30px 35px;

}

#new-post-title {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 30%;
  margin-bottom: 18px;
}

#new-post-content {
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 100px;
}

.error-msg {
  font-size: 12px;
  color: red;
  position: absolute;
  top: 66px;
}

.form-butn {
  width: 46px;
  background-color: #66cdaa;
  border-radius: 3px;
  cursor: pointer;
  padding: 10px 22px;
  text-align: center;
  margin: 4px auto;
}

.form-butn i {
  color: #fff;
}

.butn-container {
  margin-top: 20px;
  
}

#discard-post-button {
  background-color: red;
  display: inline-block;
}

#send-post-button {
  display: inline-block;
}

#new-post-buttons-container {
  margin: 30px auto;
  max-width: 800px;
  border: 1px dashed black;
  text-align: center;
}

#add-post-button-container {
  margin: 30px auto;
  max-width: 800px;
  border: 1px dashed black;
}


.hide {
  display: none;
}

.dissolve {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

@media only screen and (max-width: 800px) {
  body, #posts-container {
    margin-right: 0.5%;
    margin-left: 0.5%;
  }
}
