<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Posts</title>
</head>
<body>
  {% if user.is_authenticated %}
    Hello, {{ user }}!
    {% comment %} <a href="{% url 'socialboard:logout' %}">Log Out</a> {% endcomment %}
    <h2>Here are the posts:</h2>
    <ul>
    {% for post in posts %}
      <li>{{ post }}</li>
    {% endfor %}
  {% else %}
    <a href="{% url 'socialboard:login' %}">Log In</a>
  {% endif %}
  {% block content %}
  
  {% endblock content %}
  </ul>
</body>
</html>